body{
  font-family:sans-serif;
  background-color:#E6B9AF;
}
.photo{
  float:left;
}
nav ul{
  float:right;
  margin: 10px;
}
nav ul li{
  display: inline;
  text-align:right;
  background-color: #E6D0CB;
  padding:5px;
  margin:5px;
  border-radius: 5px;
  text-shadow: 0.9px 0.5px;
  border: 1px solid white;
  font-size: 20px

}
nav ul li a{
  text-decoration: none;
  color: red;
}
nav ul li a:hover{
  color: rgba(0, 0, 0, 0.5);
}
h1{
  text-transform: uppercase;
  color: blue;
  text-align: center;
  font-size: 36px;
  text-decoration: underline;
  text-shadow: 1px 0.9px;
}
.home{
  clear: right;
  margin-bottom: 30px;
  border: 10px solid green;
  border-radius: 6px;

}
#work{
  float:right;
}
.description{
  clear:left;
  background-color: red;
  border-radius: 10px;
  text-align: justify;
  margin-top:50px;
  margin-bottom: 30px
  box-shadow: 10px;
}
.cityhall{
  float:right;
}

h2{
  font-size: 25px;
  color:cyan;
  text-shadow: 0.9px 0.8px;
  text-transform: uppercase;
  text-decoration: underline;
}
p{
  font-size: 20px;
}
li{
  font-size: 20px
}
.interests{
  clear: right;
  background-color: green;
  border-radius: 10px;
  color: white;
  margin-top: 50px;
  box-shadow: 0.8px 0.8px;
}
.basketball{
  float:left;
  margin-bottom: 30px;
  right: 50%
  position: relative;
}
img{
  border-radius: 6px;
}
